<h1>商品投稿フォーム</h1>
<%= form_with model: @item, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>商品商品</h4>
  <%= f.text_field :name %>
  <h4>説明</h4>
  <%= f.text_area :introduction %>
  <h4>ジャンル</h4>
  <%= f.select :address_id, options_from_collection_for_select(@genre.all, :name) %>
  <h4>値段</h4>
  <%= f.number_field :price %>
  
  <%= f.radio_button :is_active, "販売中" %>
  <%= f.label :is_active, "販売中" %>

  <%= f.radio_button :is_active, "販売停止中" %>
  <%= f.label :is_active, "販売停止中" %></br>
  <%= f.submit '投稿' %>
<% end %>
